<!-- Kobuki地盘odom/电机/激光雷达/RGBD启动节点 -->
<launch>
    <master auto="start"/>
    
    <!-- 启动底盘，可以听到和弦声音 -->
    <include file="$(find kobuki_node)/launch/minimal.launch"/>
    <!-- 启动激光雷达 -->
    <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>
    <!-- 启动RGB-D -->
    <include file="$(find astra_camera)/launch/astrapro.launch"/>
</launch>